/*
 *= require bootstrap/dist/css/bootstrap.min
 *= require sidebar
 */

@charset "utf-8";

.temporary-spacer {
  width: 100%;
  height: 5em;
}

.background{
	height: 					10em;
	width:            100%;
}

.heading_text{
	position: 			absolute;
	width:					100%;
	text-align: 		center;
	color:          #f2f2f2;
  font-size:      -webkit-xxx-large;
  text-shadow:    -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight:    bolder;
  font-variant:   small-caps;
}
.header{
	padding-left: 	0;
	padding-right:  0;
  padding-top:    10px;
  padding-bottom: 10px;
  background-image: url('/images/phoenix.jpg');
  background-size: contain;
  margin-bottom: 1em;
}

.container {
		width:   			100%;
    padding-right: 0;
    padding-left:  0;
    margin-right: auto;
    margin-left: auto;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div {
    max-width: 100%;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container iframe {
    width: 100%;
    max-height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-9{
	padding-right: 45px;
  padding-left:  45px;
  margin-right: auto;
  margin-left: auto;
}

.index{
  font-size:        15px;
}

.dark_header {
  background-color:   lavender;
  padding: 20px;
  margin-top:         0;
  padding-left:       20px;
}

@media (min-width: 992px) {
  .wrapper_col {
    padding-top:    10px;
    padding-bottom: 10px;
  }

  .left {
    padding-right:  10px;
    width:          50%;
    float:          left;
  }

  .right {
    padding-left:   10px;
    width:          50%;
    float:          right;
  }
}

.boxed_explination{
  font-size:        small;
  font-style:       italic;
  border:           lavender;
  border-style:     groove;
  border-width:     thin;
  padding:          10px;
  padding-top:      5px;
  padding-bottom:   5px;
  margin-bottom:    10px;
  width:            48%;
}

hr {
    /*background-color: black;*/
    /*border: none;*/
    height: 2px;
    width: 100%;
}
