%h2 Baseline Predictors
.temporary-spacer

%section#baselines-global-avg
  %h3 Always Predict The Mean
  .temporary-spacer

%section#baselines-simple-avg
  %h3 Simple Averaging
  .temporary-spacer

%section#baselines-beta-prior
  %h3 The Beta Prior Method
  .temporary-spacer

%section#baselines-decoupling
  %h3 Decoupled Regularized Averaging
  .temporary-spacer

%section#baselines-leastsq-l2
  %h3 Least-Squares and the L2 Norm
  .temporary-spacer

%section#baselines-time-based
  %h3 Time-Based Baselines
  .temporary-spacer
