%p
  %h4 User Recommendation Models:
  One of the major conclusions of this project is that the sparsity of the user-ratings matrix makes it very difficult to do better than simple popularity recommenders for the vast majority of users. In particular, it is nearly impossible to infer much about the users who give only a single rating, and as we see in the time analysis, this single rating may not even be indicative of typical rating behavior - in particular it is likely to be more extreme than usual, likely because a user who gives a single rating is only using Yelp because he or she has had a particularly good or bad experience.


%p
  %h4 Data Trends:
  The Yelp dataset has much more to offer than just predicting user preferences. We were able to identify a number of interesting trends in the data sets that either confirmed or made us reconsider previously held notions about consumer opinion of restaurant quality. **COOL EXAMPLES HERE**

%p
