%p The Yelp data is highly dimensional, consisting of data and metadata about the Yelp users, the Yelp businesses and the actual reviews that the users entered about the businesses. Our team began work with an overview exploration of the data but as the Data Science process suggests, we returned to this point in an iterative manner as our models developed and the depth of our understanding of these data increased.

.wrapper_col.clearfix
  .left
    %p The topics can be sub-divided into <strong>general exploration</strong>, <strong>location based analysis</strong>, <strong>network analysis</strong> and <strong>time based analysis</strong>.
    %p After investigating the entire dataset, which spans 10 cities around the globe, we chose to focus our investigation on restaurants and bars in Phoenix, Arizona. While it is true that Yelp users will occasionally travel between cities, the dataset already suffers from many users who have only issued a single review (and will therefore be hard to predict for with any of our methodologies), and so we'd like to limit the scope of our analysis to some subset where there is likely to be a greater overlap between businesses rated by users. Additionally, we limit to restaurants and bars as it's more conceivable that users will share preferences within a single category rather than across categories.

  .right
    %strong Restaurants in Phoenix, Arizona Yelp Dataset
    <iframe width="900" height="350" frameborder="0" scrolling="no" src="images/map.html"></iframe>

%section#data-exp-base-line
  %h3 Baseline Analysis
  The data contain in total 2,700,000 reviews from 687,000 users for 86,000 businesses. The business data consist of 15 features including ID, category of business (e.g., fast food, restaurant, nightlife, etc.), city, full address, operation hours, latitude, longitude, review count, and stars earned. User data consist of 11 features including average stars, compliments, elite, number of fans, IDs of his/her friends, name, review count, vote categories, and the month start a yelp review.

  .wrapper_col.clearfix
    .right
      = image_tag('images/skewed_data_log.png')
    .left
      %strong How is the data distributed?
      %p This data is highly right skewed. This means that a large number of users have rated a small number of businesses, and similarly, the majority of businesses have received a comparatively small number of reviews. The implications of this observation for us is that using a particular user's review history to predict that user's rating for any one particular business is likely to be unfruitful (the small user history will prevail for the majority of cases). We run this analysis in (**LINK**) and we see that including a history of user reviews does not improve the prediction drastically. We later implement a 'Collaborative Filtering' approach which is able to combine this intuition by comparing what we do know about a user's history but also using information about how popular a restaurant tends to be. For more on Collaborative Filtering, please see the Matrix Factorization section below.

  .wrapper_col.clearfix
    .right
      = image_tag('images/rating-standard-deviations.png')
    .left
      %strong How varied are the ratings?
      %p
        Users tend to rate businesses highly with the ratings between 4 and 5 consisting of a total of 67% of all of the entered reviews in the system. In agreement with this, the users also typically tend to give many similar reviews, as we see that the majority of users have a very small range in the number of stars that they give. In contrast to this, we see that businesses tend to receive a large range of reviews. This speaks to the preferences of individuals  - what works for one person might not work for another. The key learning here is that since users tend not to deviate from their review we can possibly bias a model by using a user's mean rating to that point in time (the caveat here is that this data must exist as noted in the point above). It is also important to note that using a business's mean score may be a poor predictor for individual user's ratings due to the variation in these ratings.

  .wrapper_col.clearfix
    %strong What are the best restaurants in Phoenix?
    / =image_tag('score_with_prior_assumption.png')
    %p Having decided to explore the culinary experience in Phoenix, we wanted to understand the scope for the best and worst ratings. The problem here is that a restaurant that receives few reviews may have a disproportionately unrepresentative sample. Therefore, considering only the raw business rating would lead to an unreliable result. Similarly, considering only the number of reviews is unintuitive as a business with many low scores cannot be considered a 'good' restaurant. The solution here is to consider both the number of reviews and the scores that those reviews receive. We make an initial assumption that a restaurant will receive a mean review and a small number of reviews will not change the score from this mean. Using this 'likelihood' technique with our mean score assumption results in the majority of restaurants being scored around the mean. However, this model has identified a number of bad and a number of good restaurants, and a small example of these is given in the tables below:


  %h4 The Top 5 Restaurants in Phoenix
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Categories
        %th Review Count
        %th Avg. Stars
    <tbody>
    <tr>
    <td>Little Miss BBQ</td>
    <td>Barbeque, Restaurants</td>
    <td>944</td>
    <td>4.794</td>
    </tr>
    <tr>
    <td>El New Yorican Central Catering &amp; Delivery</td>
    <td>Puerto Rican, Spanish, Caribbean, Restaurants</td>
    <td>139</td>
    <td>4.855</td>
    </tr>
    <tr>
    <td>Top Marks Cafe</td>
    <td>Food, Gelato, Coffee &amp; Tea, Creperies</td>
    <td>33</td>
    <td>5.000</td>
    </tr>
    <tr>
    <td>The Local Press Sandwich Bar</td>
    <td>Sandwiches, Restaurants</td>
    <td>47</td>
    <td>4.974</td>
    </tr>
    <tr>
    <td>Tacos Chiwas</td>
    <td>Mexican, Restaurants</td>
    <td>89</td>
    <td>4.915</td>
    </tr>
    </tbody>

  %h4 The Worst 5 Restaurants in Phoenix
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Categories
        %th Review Count
        %th Avg. Stars
    <tbody>
    <tr>
    <td>Dairy Queen</td>
    <td>Fast Food, Restaurants</td>
    <td>33</td>
    <td>1.280</td>
    </tr>
    <tr>
    <td>Pizza Hut</td>
    <td>Italian, Pizza, Chicken Wings, Restaurants</td>
    <td>7</td>
    <td>1.000</td>
    </tr>
    <tr>
    <td>KFC</td>
    <td>Fast Food, Chicken Wings, Restaurants</td>
    <td>13</td>
    <td>1.154</td>
    </tr>
    <tr>
    <td>McDonald's</td>
    <td>Burgers, Fast Food, Restaurants</td>
    <td>18</td>
    <td>1.313</td>
    </tr>
    <tr>
    <td>Far East Asian Fire</td>
    <td>Chicken Shop, Asian Fusion, Restaurants</td>
    <td>25</td>
    <td>1.211</td>
    </tr>
    </tbody>
