%p
  Welcome to this AC209a Data Science project on User Ratings and Reviews. We chose to work with data from the "Yelp Dataset Challenge" #{cite 'yelp'}, which is a huge repository of data about businesses and the users rating them in a variety of formats. This website will walk you through our investigation of it, as we follow the data science process from cleaning to conclusions.

%p
  Our project's core focus is on applying recommendation system techniques from the BellKor solution to the Netflix Grand Prize #{cite 'koren'} to the Yelp dataset, but we also devoted significant time exploring a number of other techniques -- as well as the data itself.
