%p Partially inspired by the prediction methods of the TripAdvisor guest speaker, we created content-based linear models in which we created a matrix with dummies for all of the categorical restaurant information given by Yelp. We then trained a lasso regression on these predictors with stars as the target variable to determine the most informative categorical predictors. When running this model on new data, we achieved an RMSE of 1.3058 -- lower than the baselines, but interpretable. **we have to recreate this image so the text is vertical**

%p
=image_tag ('images/attributes.png')
