%p
.container
<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~ashilgard/60.embed"></iframe>


%p

%p One of the other tasks mentioned in the Netflix Challenge was how dependent a business's success was on just its location. While this was somewhat tangential to the original task of predicting user ratings, we were interested to see what data exploration could reveal and used this to inform whether neighborhood clustering could be a useful predictor in future models.

%p
  As a marker of business
  %strong success
  , the only really informative column in the businesses dataframe is whether or not the business is still open. In particular, star ratings really aren't a good predictor of whether or not a business is actually successful - we've all seen well-reviewed restaurants go out of business, and McDonald's tends not to have great Yelp reviews but is still one of the most successful businesses of all time.

%p Then, to investigate this question, we split the restaurants and bars based on those that were still open and those that were closed and then clustered the restaurants using k-means clustering based on their latitude and longitude. While it's true that most cities have a more formal delineation of neighborhoods than this, it should give us a good estimate. We note also that the Yelp data has a "neighborhood" column but that it tends to be unpopulated.

%p Most notably, we find that among restaurants that are still open, the restaurants outside of the center of the city tend to have a lower star rating. Intuitively, this can be interpreted as suggesting that restaurants that have lower competition tend to stay open despite their lack of relative quality. An even better measure of success might be the time that a restaurant stays open, but this is difficult to determine from the data supplied.

%p A different interpretation of this result is that the restaurants are of a similar quality but a centralised 'herd' effect helps to raise the reviews of all restaurants in the city center. Whatever the underlying reason that causes this trend, it is worth noting that raw score alone should not be used to make a final prediction (as a 3.1 in one location could actually be as good at a 3.5 in another).
