%p Many of the most successful models in the Netflix Challenge were latent factor models. In these models, vectors of factors describing users and items are inferred from the sparse matrix of users and item ratings using a singular value decomposition. We trained and tested these models over a variety of latent variable counts and regularization factors.

%p It turned out that our baseline predictors were actually better than three independent implementations of matrix factorization we tried, although when combining baselines with matrix factorization (i.e. using matrix factorization to predict residuals), we were able to do slightly better. When we limited our data to users with multiple reviews, all methods performed better and matrix factorization finally won out (by a hair).
