%p One of the most successful methods of the Netflix Prize involved taking into account time-lagged buckets for each user and item to account for changing trendiness of a given item and for changing user preferences over time. We were interested in exploring whether or not these were effects we'd be able to find in the Yelp data, as well.

%p We additionally explored whether a user's behavior on a given day had an effect on how they rated businesses. There has been some research into doing this on the Netflix data as well, trying to map ratings at specific times into a "mood" setting for the user. In particular, we find that when users give only a single rating on a given day, that rating is more likely to be a 1 or a 5 than it would be otherwise. The intuition behind this seems to be that if a user is only giving a single rating, they are likely opening the Yelp app simply because they had a particularly good or bad experience rather than out of a general dedication to rating every business they encounter.

%p

%p
<div>
<a href="https://plot.ly/~ashilgard/36/" target="_blank" title="Distribution of Ratings by Ratings per Day" style="display: block; text-align: center;"><img src="https://plot.ly/~ashilgard/36.png" alt="Distribution of Ratings by Ratings per Day" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
<script data-plotly="ashilgard:36"  src="https://plot.ly/embed.js" async></script>
</div>

<div>
<a href="https://plot.ly/~ashilgard/48/" target="_blank" title="Only review, 1 Other Review, 2 Other Reviews, 3 Other Reviews, &gt;=4 Other Reviews" style="display: block; text-align: center;"><img src="https://plot.ly/~ashilgard/48.png" alt="Only review, 1 Other Review, 2 Other Reviews, 3 Other Reviews, &gt;=4 Other Reviews" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
<script data-plotly="ashilgard:48"  src="https://plot.ly/embed.js" async></script>
</div>
