.header
  / =image_tag('header_bg.jpg')
  %section#header.background
    %h1.heading_text Analyzing Yelp Reviews in Phoenix
  %hr
.col-md-9
  %section#intro
    %h2 Introduction
    = partial 'introduction'
    .temporary-spacer
    %hr
  %section#data-exp
    %h2 Data Exploration
    = partial 'dataexploration'

    .temporary-spacer
    %hr

    %section#data-exp-time-based
      %h3 Exploring Time
      .temporary-spacer
      %hr

    %section#data-exp-loc-based
      %h3 Exploring Space
      .temporary-spacer
      %hr

  %section#networks
    %h2 Network Analysis
    .temporary-spacer
    %hr

  %section#baselines
    -# This is a partial -- use them instead of adding
    -# to this file!
    = partial 'baselines'

  %section#matrices
    %h2 Matrix Factorization
    .temporary-spacer
    %hr

  %section#linear
    %h2 Interpretable Linear Models
    .temporary-spacer
    %hr

  %section#conclusion
    %h2 Conclusion
    .temporary-spacer
    %hr

  %section#refs
    %h2 References
    = render_references
    .temporary-spacer
    %hr

.col-md-3.sidebar.scrollspy
  %ul.nav{'data-spy': 'affix'}
    %li
      %a{href: '#intro'} Introduction
    %li
      %a{href: '#data-exp'} Data Exploration
      %ul.nav
        %li
          %a{href: '#data-exp-time-based'} Exploring Time
        %li
          %a{href: '#data-exp-loc-based'} Exploring Space
    %li
      %a{href: '#networks'} Network Analysis
    %li
      %a{href: '#baselines'} Baseline Predictors
      %ul.nav
        %li
          %a{href: '#baselines-global-avg'} Always Predict The Mean
        %li
          %a{href: '#baselines-simple-avg'} Simple Averaging
        %li
          %a{href: '#baselines-beta-prior'} The Beta Prior Method
        %li
          %a{href: '#baselines-decoupling'} Decoupled Regularized Averaging
        %li
          %a{href: '#baselines-leastsq-l2'} Least-Squares and the L2 Norm
        %li
          %a{href: '#baselines-time-based'} Time-Based Baselines
    %li
      %a{href: '#matrices'} Matrix Factorization
    %li
      %a{href: '#linear'} Interpretable Linear Models
    %li
      %a{href: '#conclusion'} Conclusion
    %li
      %a{href: '#refs'} References


