%p Welcome to this AC209a Data Science project on User Ratings and Reviews. We have been working with the "Yelp Dataset Challenge" #{cite 'yelp'} data and this website will walk you through our investigation of this data as we follow a formal Data Science process from exploration to conclusions.

%p We initially spent time exploring the data but eventually built, tested and compared a number of recommendation strategies. Our work has been highly influenced by the Netflix 2009 winning competition however a number of more general techniques were also explored.
